extends ../layout/index 
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros" class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis facilis commodi inventore dignissimos adipisci autem, possimus eius culpa, neque magnam soluta corrupti, architecto blanditiis deleniti. Architecto ratione suscipit quae corrupti!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi et dolor fuga vel totam nihil corporis tempore quos sit perferendis? Natus explicabo libero velit molestias modi inventore voluptate provident harum!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laboriosam, doloribus culpa aliquam magni quasi asperiores maxime, sequi quaerat voluptates nam hic exercitationem, omnis cupiditate quam. Doloremque molestias dolorem architecto?

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="img-fluid", mb-4)
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur a
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="img-fluid", mb-4)
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur a
                .col-md-4
                    img(src="img/icono_precios.svg", alt="img-fluid", mb-4)
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur a

