extends ../layout/index 
block slider
    .slider
        h1 Rio de janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col.md-6
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quo perferendis. Sit voluptatum adipisci cumque quibusdam ducimus, earum sunt distinctio quasi doloribus quos vel maxime est quia eveniet nesciunt ratione?Dolorum obcaecati inventore iste itaque iusto similique repudiandae delectus perferendis harum? Aliquam, non aliquid? Eum facere at incidunt, rerum nulla amet velit. Sit enim, accusamus aliquam soluta illo voluptates quidem.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nisi placeat fugit minima ea adipisci facilis? Inventore distinctio nobis dolores odit, nulla corporis nisi facere obcaecati eos incidunt sit voluptas.Impedit, est aliquam sequi iure corrupti ipsa quibusdam natus dignissimos odit aperiam illum, magni repellendus soluta, cupiditate velit excepturi a reiciendis nulla aut sed vitae! Laboriosam dolorum voluptates nesciunt earum?
            .col.md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
    
    .descuento 
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a canada
                        p.fecha 20 de Marzo 2019 - 28 de Marzo de 2019
                        p.precio $2,500 usd

